<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading" style="text-align: center">
      <span >APPLY NOW</span>
    </div>
    <div class="panel-body">
     <div class="row">
       <div class="col-sm-12 paneldown">
       <div class="col-sm-6">
        <label>I am citizen  of</label>
          <div class="dropdown">
            <input type="text" class="form-control dropdown-toggle"  data-toggle="dropdown" placeholder="select">
            <ul class="dropdown-menu">
            <li><a >India</a></li>
            <li><a >Germany</a></li>
            <li><a >us</a></li>
          </ul>
       </div>
      </div>
      <br>
      <div class="col-sm-5">
        <label>I am living in</label>
          <div class="dropdown">
            <input type="text" class="form-control dropdown-toggle"  data-toggle="dropdown" placeholder="select">
              <ul class="dropdown-menu">
              <li><a >India</a></li>
              <li><a >Germany</a></li>
              <li><a >us</a></li>
              </ul> 
            </div>
      </div>
      <div class="col-sm-1">
          <a routerLink='apply' id="go"><button id="btn1" class="btn btn-success">GO</button></a>
      </div>

      </div>
    </div>
  </div>
  </div>