<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading" style="text-align: center">
      <span >APPLY NOW</span>
    </div>
    <div class="panel-body">
     <form #countryForm="ngForm">
     <div class="row">
      <div class="col-sm-12 paneldown">
      <div class="col-sm-6">
      <div class="form-group">   
      
      
      <label for="country1">I am citizen  of</label>
      <input
        required
        list="countries"
        [(ngModel)]="con1"
        name="country1"
        #country1 = "ngModel"
        [class.is-invalid]="country1.invalid && country1.touched"
        placeholder="select country you from"
        id="country1" 
        class="form-control">
        <datalist id="countries">
          <option  *ngFor ='let country of countries'> {{country.name}}</option>
        </datalist>
        <div class="alert alert-danger" *ngIf="!country1.valid && country1.touched" >this is required</div>
        </div>
        </div>

        <div class="col-sm-5">
        <div class="form-group">
        <label for="country2">I am living in</label>
        <input 
          list="countries" 
          name="country2"
          #country2 = "ngModel"
          [(ngModel)]="con2"
          required
          [class.is-invalid]="country1.invalid && country1.touched"
          placeholder="select country you are living"
          id="country2"
          
          class="form-control">
          <datalist id="countries">
          <option  *ngFor ='let country of countries'> {{country.name}}</option>
          </datalist>
          <div class="alert alert-danger" *ngIf="!country2.valid && country2.touched">This is required</div>
          <div class="alert alert-danger" *ngIf="country1.value == country2.value && country2.touched">Both countries can't be same or Both countries filed are empty</div>
        </div>
        </div>
        
        <div class="col-sm-1"> 
          <a [routerLink]="['/apply']"><button type="submit" [disabled]="countryForm.form.invalid || country1.value == country2.value" id="btn1" class="btn btn-success">GO</button></a>
        </div>
        </div>
      </div>
    </form>
  </div>
</div>
{{con1}}
{{con2}}
</div> 
