<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-5">

    </div>
    <div id="over" class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <span>14 DAYS VISA</span>
            </div>
            <div class="panel-body">
            <div class="table table-striped">
            <tr>
                <td>Types of Visa</td>
                <td>14 days visa single Entry</td>  
            </tr>
            <tr>
                <td>Visa Validity</td>
                <td>60 days from the date of issue</td>  
            </tr>
            <tr>
                <td>Stay Validity</td>
                <td>14 days from the date of entry</td>  
            </tr>
            <tr>
                <td>Processing Time</td>
                <td>24-72 Working Hours</td>  
            </tr>
            <tr>
                <td>Govt Visa Fee</td>
                <td>$ 72</td>  
            </tr>
            <tr>
                <td>Service Fee</td>
                <td>$ 107</td>  
            </tr>
            <tr>
                <td>Total Cost</td>
                <td>$179</td>  
            </tr>
            <tr>
                <td></td>
                <td><a routerLink='form'><button class="btn btn-primary form-control">Apply now</button></a></td>  
            </tr>
              
            
            </div>
            
            </div>
            
            </div>
            
      </div>
      <div class="col-sm-4">
      
        </div>
  </div>
</div>
